textarea {
    min-height: 400px;
}

.email-list {
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.read {
    background-color: rgb(218, 218, 218);
}

.unread {
    background-color: white;
}

.timestamp {
    text-align: end;
}

.sender {
    text-align: start;
}

.subject {
    text-align: start;

}

.icon {
    display: flex;
    justify-content: end;
}

.icon img {
    max-width: 70%;
    display: flex;
    align-items: center;
}

.formlogreg {
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 250px;
    
}

.formlog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
.formlog h1 {
    font-size: 72px;
    font-family: 'Shippori Antique B1', sans-serif;
}